version: "3.9"
services:
  mongo:
    image: mongo:6
    container_name: adtech-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: adtech_db

  backend:
    build: ./backend
    container_name: adtech-backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app/backend
    ports:
      - "3001:3001"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: adtech-frontend
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app/frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data:
